body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

h2 {
	font-size: 1.1em;
	margin-top: 2em;
}

main {
	width: 80%;
	margin: auto;
}


.acordeon {
	background-color: #eee;
	
	a {
		text-decoration: none;
		display: block;
		background-color: #ddd;
		line-height: 2.5;
		padding: 0.1em;
		color: steelblue;
		font-weight: bold;
		border-bottom: 1px solid #ccc;
	}

	p {
		padding: 1em;
		margin: 0;
		display: none;
		/* La pseodoclase target se aplica en aquellos elementos que est치n referenciados en un link, en este caso est치n referenciados debido a que los link van a los id secci칩n, que son los p치rrafos */
		&:target {
			display: block;
		}
	}

}


#modal {
	background: rgba(#000, .9);
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	transition: all .5s;

	p {
		color: #fff;
		width: 70%;
		font-size: 1.4em;
		text-align: center;
		position: absolute;
		left: 15%;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
	}
}

#abrir-modal {
	display: none;
	/* El selector +, selecciona el siguiente elemento del html */
	+ label {
		display: table;
		line-height: 3;
		padding: 0 1em;
		text-transform: uppercase;
		margin: auto;
		background: steelblue;
		color: #fff;
		cursor: pointer;
	}
	/* El simbolo ~ busca hasta el final el identificador que indiquemos */
	&:checked ~ #modal{
		top: 0;
	}
}

#cerrar-modal {
	display: none;
	+ label {
		position: fixed;
		top: 1em;
		right: 1em;
		z-index: 150;
		color: #fff;
		font-size: 1.5em;
		font-weight: bold;
		//background: tomato;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		cursor: pointer;
	}
	&:checked ~ #modal {
		top: -100vh;
	}
}

#menu {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: fixed;
		top: 0;
		left: -50%;
		background: rgba(#000, .9);
		width: 50%;
		height: 100vh;
		padding-top: 4em;
		transition: all .5s;

		a {
			color: white;
			text-decoration: none;
			display: block;
			line-height: 2.5;
			padding: 0 1em;
			border-bottom: 1px solid rgba(white, .2)
		}
	}
}

#mostrar-menu {
	display: none;
	+ label {
		position: fixed;
		top: 0;
		left: 0;
		line-height: 2;
		background: #222;
		color: white;
		padding: 0 1em;
		cursor: pointer;
		z-index: 100;
	}
	&:checked ~ ul {
		left: 0;
	}
}